/* Reset default styles */
body {
  margin: 0;
  color: white;
  font-size: 3em;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
  background: rgb(48, 46, 46);
}

.item {
  height: 70vh;
}

.item-a {
  background: rgba(71, 145, 255, 0.616);
}

.item-b {
  background: #8fbc8fb7;
}

.item-c {
  background: rgb(140, 136, 199);
}
* {
    margin: 10;
    padding: 10;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Arial';
    src: url('fonts/Arial.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;
}

#myCanvas {
    display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f0f0f08f;
}


body {
    font-family: 'Arial', serif; 
    text-shadow: 0.50px 0.50px 0 #000; /* Creates a thin shadow outline */
    font-size: 1.50em; /* Slightly increase font size to give a bolder effect */
}

/* Navigation styling */
/* Base Navigation Styling */
header {
    background-color: #14ccbd65;
    font-family: 'Arial', serif;
    font-size: 15px;
    text-transform: uppercase;
    margin: 3;
    height: 4.5em;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Menu Items */
.menu-item {
    display: inline-block; 
    margin: 0;
    min-width: 8em;
    text-align: left;
    background-color: #d7dbdb;
    padding: 0.05em 110em;
}

.menu-item a {
    color: #312f2ff5;
    text-decoration: none;
}

h1 {
    font-family: 'Arial', serif; 
    letter-spacing: 2px;
}

/* Title banner styling */
.banner {
    height: 200px;
    background-color: rgb(132, 170, 181);
    color: rgb(75, 177, 190);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.6em;
    font-family: 'Arial', serif;
    text-align: center;
    letter-spacing: 0.2em;
    text-shadow:
        1px 1px 0 hsl(0, 0%, 100%),   /* Top-left shadow */
        -1px -1px 0 hsl(0, 0%, 100%), /* Bottom-right shadow */
        1px -1px 0 hsl(0, 0%, 100%),  /* Top-right shadow */
        -1px 1px 0 hsl(0, 0%, 100%);  /* Bottom-left shadow */
}


/* 480px max width -------------------------------------------------------- */

@media (max-width: 480px) {

 
}